{
	"extends": [
		"@magister_zito",
		"prettier"
	],
	"plugins": [
    "jest"
  ],
	"env": {
    "jest/globals": true
  },
	"ignorePatterns": [
		".build",
		"coverage",
		"rollup.config.js"
	],
	"overrides": [
		{
			"files": ["**/*.ts"],
			"parserOptions": {
				"project": ["./tsconfig.json", "./__tests__/tsconfig.json"]
			}
		}
	]
}
